.home {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: 55%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .img-1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    
  .headerContainer {
    width: auto;
    margin-left: 50px;
  }
  
  .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color: #121619;
  }
  
  .headerContainer p {
    padding: 20px;
    font-size: 40px;
    font-weight: lighter;
    color: #121619;
  }
  
  .headerContainer button {
    color: #121619;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: #F9F7F3;
    text-decoration: none;
    font-size: 20px;
  }
  
  .headerContainer button:hover {
    background-color: #b5e2fa;
    color: #121619;
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
  
    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #121619;
      color: #F9F7F3;
    }
  
    .headerContainer h1 {
      font-size: 40px;
      height: 30px;
      color: #F9F7F3;
    }
  
    .headerContainer p {
      font-size: 30px;
      color: #F9F7F3;
    }
  
    .headerContainer button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }
  .git-img {
    margin: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  
  .git-img:hover {
    background: #b5e2fa;
    border-radius: 30px;
  }